.carousel-inner {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}


.quotee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-size: 1.25rem;
  font-style: italic;
  color: #333;
  margin-bottom: 0.5em;
  svg { 
    margin-right: .5em;
    }

}

.quote-author {
  font-weight: bold;
  color: #555;
}
