@import "flowbite/dist/flowbite.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  padding-top: 55px;
  background-color: var(--background-light);
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 6px var(--shadow-color);
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 1px 3px var(--shadow-color);
}

.custom-image {
  height: 0;
  width: 100%;
  position: relative;
}
.custom-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  height: 55px;
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 700;
  width: 100%;
  position: fixed;
  top: 0;
}
.navbar .logo {
  font-size: 1.2em;
  color: var(--primary-color);
  font-weight: bolder;
  text-shadow: 0 1px 3px var(--shadow-color);
}
.navbar .logo span {
  color: var(--text-color);
}
.navbar .nav-links a {
  margin-left: 1em;
  color: var(--text-light);
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}
.navbar .nav-links a::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: calc(0.2s * var(--animation-speed)) ease-in-out;
  font-size: 0.8em;
}
.navbar .nav-links a:hover::before {
  transform: scaleX(1);
}
.navbar .nav-links a.active {
  color: var(--primary-color);
  font-weight: bold;
}
.navbar .nav-links a:last-child {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 6px var(--shadow-color);
  display: inline-block;
  margin-left: 30px;
}
.navbar .sidebar-btn {
  height: 28px;
  width: 30px;
  position: relative;
  display: none;
}
.navbar .sidebar-btn .bar {
  height: 6px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 5px;
  position: absolute;
  transition: calc(0.2s * var(--animation-speed)) ease-in-out;
}
.navbar .sidebar-btn .bar:nth-child(1) {
  top: 0;
}
.navbar .sidebar-btn .bar:nth-child(2) {
  top: 50%;
  transform-origin: right;
  transform: scaleX(0.8) translateY(-50%);
}
.navbar .sidebar-btn .bar:nth-child(3) {
  top: 100%;
  transform-origin: right;
  transform: scaleX(1.1) translateY(-100%);
}
.navbar .sidebar-btn.active .bar {
  transform-origin: center;
  top: 50%;
}
.navbar .sidebar-btn.active .bar:nth-child(1) {
  transform: translate(0, -50%) scale(1) rotate(45deg);
}
.navbar .sidebar-btn.active .bar:nth-child(2) {
  transform: scaleX(0) translateY(-50%);
}
.navbar .sidebar-btn.active .bar:nth-child(3) {
  transform: translate(0, -50%) scale(1) rotate(-45deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 701;
  height: 100vh;
  width: 260px;
  background-color: var(--background-color);
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.2), 3px 0 5px var(--shadow-color);
  animation: calc(0.3s * var(--animation-speed)) slideInLeft;
}
.sidebar a:last-child {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 6px var(--shadow-color);
  display: inline-block;
  margin: 2em 0 0 4em;
}
.sidebar .sidebar-link {
  display: block;
  padding: 0.5em 1em;
  border-left: 0.5em solid transparent;
  color: var(--text-color);
  font-size: 1.1em;
  margin-bottom: 1em;
  transform: translateX(-100%);
  animation: calc(0.3s * var(--animation-speed)) slideInLeft forwards;
}
.sidebar .sidebar-link:nth-child(1) {
  animation-delay: 0.1s;
}
.sidebar .sidebar-link:nth-child(2) {
  animation-delay: 0.2s;
}
.sidebar .sidebar-link:nth-child(3) {
  animation-delay: 0.3s;
}
.sidebar .sidebar-link.active {
  border-left-color: var(--primary-color);
}
.sidebar .sidebar-link:hover {
  border-left-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.05);
}
.sidebar .sidebar-link svg {
  width: 1.2em;
  margin-right: 0.5em;
}

.section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3vw;
}
.section.d-block {
  display: block;
}
.section .title {
  color: var(--text-color);
  font-size: 2.5em;
  margin-bottom: 0.25em;
  font-weight: 900;
}
.section .info {
  color: var(--text-light);
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin-bottom: 1.5em;
}
.section .col {
  width: 50%;
}

.form-container {
  background: linear-gradient(to right, #ffd3bd, #fcc8bb);
  border-radius: 0.8em;
  padding: 4em;
}
.form-container .card {
  background-color: #fff;
  box-shadow: 0 2px 6px var(--shadow-color);
  border-radius: 0.8em;
  padding: 1.2em;
}
.form-container .card .title {
  text-shadow: 0 1px 3px var(--shadow-color);
  text-align: center;
  margin-bottom: 0.8em;
}
.form-container .card .form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}
.form-container .card .form input {
  border: none;
  border-bottom: 1px solid var(--shadow-color);
  padding: 1em 2em;
  outline: none;
  width: 100%;
}
.form-container .card .form select {
  width: 100%;
  padding: 1em;
  color: var(--text-light);
  border: none;
  border-bottom: 1px solid var(--shadow-color);
}
.form-container .card .form .desc {
  width: 100%;
  border: 1px solid var(--shadow-color);
  color: var(--text-light);
  margin-bottom: 0.5em;
}
.form-container .card .form textarea {
  width: 100%;
  height: 150px;
  border: 1px solid var(--shadow-color);
  outline: none;
  padding: 0.5em;
}
.form-container .card .form .btn {
  margin-block: 0.7em;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 6px var(--shadow-color);
}
.form-container .card .btn-link {
  color: var(--text-light);
  text-decoration: underline;
}
.form-container .card .para {
  text-align: center;
}

.section.hero .typography {
  padding-right: 1em;
}
.section.hero .btn-link {
  color: #fff;
}
.section.hero .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75vw;
}
.section.hero .gallery .custom-image {
  border-radius: 5px;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  animation: calc(0.5s * var(--animation-speed)) popOut forwards;
}
.section.hero .gallery .custom-image:nth-child(2) {
  animation-delay: 0.1s;
}
.section.hero .gallery .custom-image:nth-child(3) {
  animation-delay: 0.2s;
}
.section.hero .gallery .custom-image:nth-child(6) {
  animation-delay: 0.3s;
}
.section.hero .gallery .custom-image:nth-child(9) {
  animation-delay: 0.4s;
}
.section.hero .gallery .custom-image:nth-child(8) {
  animation-delay: 0.5s;
}
.section.hero .gallery .custom-image:nth-child(7) {
  animation-delay: 0.6s;
}
.section.hero .gallery .custom-image:nth-child(4) {
  animation-delay: 0.7s;
}
.section.hero .gallery .custom-image:nth-child(5) {
  animation-delay: 0.8s;
}

.section.improve-skills .col.img img {
  width: 100%;
}
.section.improve-skills .col.typography {
  padding-left: 2em;
}
.section.improve-skills .col.typography .skill-item {
  border-left: 0.25em solid var(--primary-color);
  margin-bottom: 0.5em;
  padding: 0.1em 0 0.1em 0.5em;
  color: var(--text-light);
  font-weight: bold;
  transform: translateX(100%);
  opacity: 0;
  animation: calc(0.7s * var(--animation-speed)) slideInRight forwards;
}
.section.improve-skills .col.typography .skill-item:nth-child(1) {
  animation-delay: 0.1s;
}
.section.improve-skills .col.typography .skill-item:nth-child(2) {
  animation-delay: 0.2s;
}
.section.improve-skills .col.typography .skill-item:nth-child(3) {
  animation-delay: 0.3s;
}
.section.improve-skills .col.typography .skill-item:nth-child(4) {
  animation-delay: 0.4s;
}
.section.improve-skills .col.typography .skill-item:nth-child(5) {
  animation-delay: 0.5s;
}
.section.improve-skills .col.typography .skill-item:nth-child(6) {
  animation-delay: 0.6s;
}
.section.improve-skills .col.typography .skill-item:nth-child(7) {
  animation-delay: 0.7s;
}
.section.improve-skills .col.typography .btn {
  margin-top: 0.75em;
}
.section.improve-skills .col.typography .btn .btn-link {
  color: #fff;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.quotee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-size: 1.25rem;
  font-style: italic;
  color: #333;
  margin-bottom: 0.5em;
}
.quote-text svg {
  margin-right: 0.5em;
}

.quote-author {
  font-weight: bold;
  color: #555;
}

.sec {
  margin-bottom: 2em;
}
.sec .title {
  color: var(--text-color);
  font-size: 2.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  font-weight: 900;
}

.section.chiefs {
  display: block;
}
.section.chiefs .top-chiefs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.chief-card {
  display: flex;
  height: 120px;
  background-color: var(--background-color);
  border-radius: 5px;
  overflow: hidden;
}
.chief-card img {
  height: 100%;
  width: 120px;
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--shadow-color);
}
.chief-card .chief-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5em;
  padding-left: 1em;
}
.chief-card .chief-card-info .chief-card-name {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 10px;
}
.chief-card .chief-card-info .chief-card-count, .chief-card .chief-card-info .chief-cuisine {
  font-size: 1.2em;
  color: var(--text-light);
}
.chief-card .chief-card-info .cheif-icons {
  font-size: 1.2em;
}
.chief-card .chief-card-info .cheif-icons svg {
  margin-right: 0.5em;
}
.chief-card .chief-card-info .cheif-icons svg:nth-child(1) {
  color: #0063f7;
}
.chief-card .chief-card-info .cheif-icons svg:nth-child(2) {
  color: #13b4ff;
}
.chief-card .chief-card-info .cheif-icons svg:nth-child(3) {
  color: #ff0056;
}

.prev-search {
  display: block;
}
.prev-search h2 {
  color: var(--text-color);
  margin-bottom: 0.5em;
}
.prev-search .prev-search-container .search-item {
  background-color: var(--primary-color);
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 1em 1em 0;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 3px 6px var(--shadow-color);
  transform: translateX(100%);
  opacity: 0;
  animation: calc(0.5s * var(--animation-speed)) slideInRight forwards;
}
.prev-search .search-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 35px;
}
.prev-search .search-box input,
.prev-search .search-box .btn {
  height: 35px;
}
.prev-search .search-box input {
  min-width: 250px;
  padding: 0 0.5em;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1px solid #4d4d4d;
}
.prev-search .search-box .btn {
  padding-block: 0;
  padding-inline: 0.75em;
  border-radius: 0 5px 5px 0;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1.5em;
}

.recipe-card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--shadow-color);
}
.recipe-card .custom-image {
  z-index: -1;
}
.recipe-card .recipe-card-info {
  padding: 15px;
}
.recipe-card .recipe-card-info .author-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid var(--background-light);
  box-shadow: 0 1px 3px var(--shadow-color);
  margin-top: -50px;
  z-index: 2;
}
.recipe-card .recipe-card-info .recipe-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
  color: var(--text-color);
}
.recipe-card .recipe-card-info .recipe-desc {
  color: var(--text-light);
  font-size: 0.9em;
  letter-spacing: 1px;
}
.recipe-card .recipe-card-info .view-btn {
  font-size: 1em;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 0.75em;
  display: inline-block;
}

.options-container {
  box-shadow: 0 5px 10px var(--shadow-color);
  padding: 1em;
  border-radius: 5px;
  border-left: 0.5em solid var(--primary-color);
  background-color: var(--background-light);
  margin-top: 1em;
  display: flex;
  gap: 1em;
}
.options-container .option {
  height: 3.5em;
  width: 3.5em;
  box-shadow: 0 3px 6px var(--shadow-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options-container .option.light {
  background-color: #fff;
}
.options-container .option.dark {
  background-color: rgb(29, 29, 29);
}
.options-container .option .check {
  height: 2.5em;
  width: 2.5em;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px var(--shadow-color);
}
.options-container .option .check svg {
  height: 1.5em;
  width: 1.5em;
}
.options-container .btn span {
  display: inline-block;
  margin-left: 0.5em;
}

.d-block:last-child {
  margin-top: 50px;
}
.d-block h2 {
  font-size: 1.75em;
  color: var(--text-color);
}

.footer {
  background-color: #0f0f0f;
  color: #fff;
  padding-block: 3em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1em;
}
.footer .footer-section p {
  opacity: 0.8;
  margin-bottom: 0.5em;
}
.footer .footer-section p.title {
  opacity: 1;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.main {
  padding-block: 3vw;
}

.container {
  padding-inline: 20vw;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes popOut {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding-inline: 14vw;
  }
}
@media screen and (max-width: 1050px) {
  .container {
    padding-inline: 12vw;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-inline: 6vw;
  }
  .navbar .nav-links {
    display: none;
  }
  .navbar .sidebar-btn {
    display: block;
  }
  .section .col {
    width: 100%;
    padding: 0 !important;
    text-align: center;
    margin-bottom: 2em;
  }
  .skill-item {
    display: inline-block;
    margin: 0.75em;
  }
  .section.improve-skills .btn {
    display: block;
    margin: auto;
  }
  .chief-card {
    box-shadow: 0 5px 10px var(--shadow-color);
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .footer-section:nth-child(1) {
    grid-column: span 4;
  }
  .footer .footer-section:nth-child(2),
  .footer .footer-section:nth-child(3) {
    grid-column: span 2;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding-inline: 3vw;
  }
}/*# sourceMappingURL=index.css.map */